<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="TestCase01">
        <classes>
            <class name="tests.LoginWithValidDataTC01"></class>
            <class name="tests.SearchEmployeeWithValidDataTC02"></class>
            <class name="tests.AddEmployeeWithValidDataTC03"></class>
        </classes>
    </test>
</suite>